body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.thread-container {
	flex-grow: 1;
	overflow-y: scroll;
	position: relative;
}
.thread-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
}
.thread-container::-webkit-scrollbar {
	width: 5px;
	background-color: green;
}
.thread-container::-webkit-scrollbar-thumb {
	background-color: white;
}
.thread-container .thread {
	position: relative;
	width: 100%;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #b3b2ca;
	background-color: #ffffff;
}
